body {
  background: url('./img/01.jpg');
  background-size: cover;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}

html {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}