.container {
    margin: 0 auto;
    text-align: center;
    background: transparent;
    backdrop-filter: blur(5px);
    border: 2px solid #fff;
    box-shadow: rgba(181, 181, 181, 0.279) 0px 5px 15px;
    width: 800px;
    padding: 40px 100px;
}

.quotes {
    font-size: 32px;
    color: #fff;
    padding-bottom: 20px;
    height: 130px;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
}

.author {
    font-size: 20px;
    color: #f1f1f1;
    padding-bottom: 40px;
}

.btn {
    padding: 12px 22px;
    border: 1px solid #fff;
    box-shadow: rgba(181, 181, 181, 0.279) 0px 5px 15px;
    background: transparent;
    color: #fff;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.8;
    scale: 1.1;
    transition: 0.4s;
}

.start {
    font-size: 24px;
    color: #f1f1f1;
    padding-bottom: 40px;
}